@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

small {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

h1 {
  padding: 50px 0;
  font-weight: 800;
  margin: 0;
  letter-spacing: -1px;
  color: inherit;
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin: 0;
  font-weight: 300;
  color: inherit;
  /* padding: 50px; */
}

h3, .h3{
  font-size: 28px;
  line-height: 1.4;
  margin: 20px 0 0px;
}

h4, .h4{
  font-size: 24px;
  line-height: 1.2em;
}

h5, .h5 {
  font-size: 22px;
  line-height: 1.4em;
}

h6, .h6{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
}

p{
  font-size: 15px;
  line-height: 1.6rem;
  margin-bottom: 5px;
}

Button {
  border-radius: 0!important;
}

Input {
  border-radius: 0!important;
}

.primary-color{
  color: #10bd00;
}

.secondary-color{
  color: #0e0e0e; 
}

.center {
  text-align: center;
}

.float-right{
  margin-left: auto;
}

.padding-right{
  padding-right: 20px!important;
}

.display-block{
  display: block;
}

.display-none{
  display: none;
}

.pointer{
  cursor: pointer;
}

.default{
  cursor: default;
}

.dropdownItem{
  padding: .65rem 1rem!important;
}

.section {
  /* height: 100vh; */
  margin: 80px 0;
}

.main-section {
  /* height: 100vh; */
  margin: 100px 0 60px;
}

.main-login-section{
  min-height: 100vh;
  background-size: cover;
  padding-top: 150px;
  background-image: url(https://images.pexels.com/photos/94273/jetty-beach-sunset-sea-94273.jpeg);
}

.main-signup-section{
  /* min-height: 100vh; */
  min-height: 100vh;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 100px;
  background-image: url(https://images.pexels.com/photos/94273/jetty-beach-sunset-sea-94273.jpeg);
}

a{
  color: #000!important;
  text-decoration: none!important;
}

a:hover{
  color: #686868 !important
}

::-moz-selection { /* Code for Firefox */
  background: #a7da93;
}

::selection {
  background: #a7da93;
}

.footer{
  padding: 20px 0;
  background-color: #00b260;
}

.btn-modal-delete{
  color: #ce0000 !important;
}

.btn-modal-delete:hover{
  color: #9c0000 !important;
}

/* NAVIGATION */
.nav-bar {
  /* display: block!important;
  width: 100%; */
  margin: 0 auto;
  background-color: white!important;
  padding: 30px 0!important;
  box-shadow: 0px 1px 0px #dedede;
}

.link{
  color: #000!important;
}

.finder{
  color: #10bd00!important;
}

.errorMessage {
  background-color: #ffdede;
  padding: 10px 15px;
  border: 1px solid #ffadad;
}

.navbar-transparent {
  background: transparent !important;
  padding-top: 30px 0!important;
  box-shadow: none;
}

.nav ul {
  list-style: none;
  text-align: center;
}

.nav ul li {
  display: inline-block;
}

.nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

.nav ul li a,
.nav ul li a:after,
.nav ul li a:before {
  transition: all .5s;
}

.nav ul li a:hover {
  color: #555;
}

/* stroke */
.nav.stroke ul li a {
  position: relative;
}
.nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #333;
  height: 1px;
}

.nav.stroke ul li a:hover:after {
  width: 100%;
}

/*    Modal     */
.modal-dialog {
  padding-top: 60px;
}

.modal-body{
  padding: 1.75rem;
  color: #000;
}

.modal-footer {
  border-top: 1px solid #dedede;
  padding: 0px!important;
  flex-wrap: nowrap!important;
}

.modal-footer .custom-left-side, .modal-footer .custom-right-side{
  display: inline-block;
  text-align: center;
  width: 50%;
}

.modal-footer .left-side, .modal-footer .right-side{
  display: inline-block;
  text-align: center;
  width: 20%;
}

.modal-footer .btn-link{
  padding: 20px;
  width: 100%;
  color: #000;
  text-decoration: none;
}

.modal-footer .divider{
  background-color: #dedede;
  display: inline-block;
  float: inherit;
  height: 63px;
  margin: 0px -3px;
  width: 1px;
}

.modal-profile {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 2; 
  margin-bottom: 20px;
  box-shadow: 0px 5px 20px 0px #5c5c5b4d;
}

.fa-lightbulb-o{
  margin-top: 20px;
  color: #000000;
  font-size: 40px;
}

/*      Screen size above 1279px        */
@media (min-width: 1279px){
  .container-md{
    max-width: 720px!important;
  }
}

.container-top{
  margin-top: 50px;
}


/*    Home Page   */
.image-container{
  padding: 30px;
  background-color: #eef7e2;  
  margin: 20px 0;
}

.text-center{
  text-align: center;
}

.title{
  margin: 30px 0;
}

.small-title{
  margin: 15px 0!important;
}


.search-form{
  margin: 30px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  background-color: #ffffff;
  padding-top: 200px;
  padding-bottom: 250px;
  box-shadow: 0px 1px 0px #dedede;
}

.search-input{
  padding: 12px!important;
}

.search-btn{
  padding: 12px!important;
  /* margin: 15px 0 30px; */
}

.foodunit{
  /* margin-top: 1rem!important  */
}

.delete-search{
  float: right;
}

.search-row-container{
  margin: 20px 0 80px 0!important;
}

.listinline-item{
  /* text-decoration: underline;
  text-decoration-thickness: 1px; */
  border-bottom: 1px dashed;
}

.error-icon{
  font-size: 15px;
  padding: 0 10px 0 0;
}

.swipe-up-container{
  padding: 50px 0;
  border: 1px solid #93c6a0;
  background-color: #e0fee3;
}

/*   Login    */
.login-img {
  width: 650px;
}

.navbar-divider{
  display: flex;
  flex-direction: row;
  color:rgb(148, 148, 148);
}

.navbar-divider:before,
.navbar-divider:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #dfdfdf;
  margin: auto;
  padding: 0 10px;
}

.forgot-password{
  font-size: 13px;
  color: #8d8d8d;
  cursor: pointer;
}

.forgot-password:hover{
  font-size: 13px;
  color: #636363;
  cursor: pointer;
}

.login-here{
  font-size: 13px;
  color: #8d8d8d;
  cursor: pointer;
  margin: 20px 0;
}

.login-here:hover{
  font-size: 13px;
  color: #636363;
  cursor: pointer;
}

/*  Single Recipe   */
.single-recipe-image{
  width: 600px;
  border: 2px solid #81b97b;
  padding: 5px;
}

.recipe-icon{
  margin-bottom: 10px;
  width: 60px;
}

.meal-type-text{
  font-size: 16px;
}

.dish-type-text{
  font-size: 16px;
}

.recipe-type{
  background-color: #ddeedfdd;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 0px 10px;
}

/*Login Form*/
.loginFormInput{
  padding: 0.575rem .75rem!important;
}

.sign-in-btn{
  margin-right: 10px;
}

.login-form-group{
  margin-bottom: 20px;
}

.link{
  text-decoration: none!important;
  color: #000;
}

.link:hover{
    color: #777777!important;
}

.password-field{
  border-right: none!important;
}

.inputPasswordIcon{
  margin-top: 0px;
  height: 48px;
  background-color: #fff!important;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-left: none!important;
  border-radius: 0!important;
}

.login-button-container{
  margin: 30px 0 10px;
}